<!DOCTYPE html>
<html>
<title>Converter</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
<div class="app">
    <div class="header">
			<span>Convert</span>
			<span>Decimal</span>
      <span>Numbers</span>
    </div>
    <div class="converter" ng-app="myApp" ng-controller="myCtrl">


            <span>Decimal: </span><input type="text" ng-model="firstName"><br>
            <span>Base: </span><input type="text" ng-model="lastName"><br>
            <br>
            <span>Result</span>: {{(+firstName).toString(+lastName)}}

        


    </div>

  </div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "5";
    $scope.lastName = "2";
});
</script>

</body>
</html>
