<!DOCTYPE html>
<html>
<title>Converter</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
<div class="app">
    <div class="header">
			<span>Convert</span>
			<span>Decimal</span>
      <span>Numbers</span>
    </div>
    <div class="converter" ng-app="myApp" ng-controller="myCtrl">

            <div><span class = "desc">Decimal: </span><input type="text" id = "raw" ng-model="firstName" autofocus></div>
            <br> <div><span class = "desc">Base: </span><input id = "base" type="text" ng-model="lastName"><br>
            </div>
            <br> <div> <span class = "desc">Result:</span> {{!(isNan(+firstName)) && ((+lastName == 2) || +lastName == 8 || +lastName == 16 || +lastName == 3) ?(+firstName).toString(+lastName) : error}}
                </div>




    </div>
    <div id = 'error' style = "opacity: 0"> check input </div>
</div>

<script>

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName = "5";
    $scope.lastName = "2";
    $scope.error = 'check input';
});
</script>

<script>
let raw = document.getElementById('raw');
raw.onblur = function() {
  if (isNaN(this.value)) { // введено не число
    // показать ошибку
    document.getElementById('error').style.opacity = '1 ';
  }
};
</scipt>

</body>
</html>
