<!DOCTYPE html>
<html lang="en">
<head>
  <title>Converter</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
	<!-- <style>
	@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
	</style> -->
	
</head>
<body>
		<div class="app">
				<div class="header">
					<span>Convert</span>
					<span>Decimal</span>
					<span>Numbers</span>
				</div>
				<div class="converter">
					<button id="interface1"><a href="/api/interfaces/first">interface1</a></button>
					<button id="interface2"><a href="/api/interfaces/second">interface2</a></button>
					<button id="interface3"><a href="/api/interfaces/third">interface3</a></button>
					<button id="interface4"><a href="/api/interfaces/fourth">interface4</a></button>
				</div>
		</div>
		<script src="/javascripts/chooseInterface.js"></script> 
</body>
</html>